<h2><%= @task.description %></h2>
<h3><%= @task.deal.name %></h3>
<h4>Status: 
<% if @task.complete %>
  <%= "COMPLETE" %>
<% else %>
  <%= "OPEN" %>
<% end %>
</h4>

<form method="post" action="/tasks/<%= @task.id %>/change-status">
  <input type="submit" value="change status">
</form>

<form action="/tasks/<%= @task.id %>/edit">
  <input type="submit" value="edit description">
</form>

<form method="post" action="/tasks/<%= @task.id %>/delete">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tasks">
</form><br>

<form action="/deals/<%= @task.deal_id %>">
  <input type="submit" value="return to deal">
</form>
